@import'modules/standards';
@import'modules/pallete';

.app {
  @include flex(center, center, column);
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 12px;
  background: $hookers-green;
  backdrop-filter: blur(10px);
}

.input {
  @include flex(end, center, row);
  height: 25%;
  width: 100%;
  overflow: hidden;
  padding: 10px;
  font-size: 2rem;
  text-align: end;
  border-radius: 10px;
  transition-duration: 0s;
  background: $cambridge-blue;
  border: 2px solid $dark-slate-gray;
}

.buttons {
  gap: 5px;
  width: 100%;
  height: 75%;
  display: flex;
  box-shadow: none;
  overflow: hidden;
  border-radius: 5px;
  flex-direction: column;
}

.row {
  gap: 5px;
  height: 20%;
  display: flex;
  box-shadow: none;
  align-items: center;
  justify-content: center;
}

button {
  width: 25%;
  height: 100%;
  cursor: pointer;
  font-size: 1rem;
  color: $charcoal;
  border-radius: 10px;
  background: $ash-gray;
}